%form.form{action: '/admin/new', method: 'post'}
  %label.form__at-mark{for: 'screen-name'}
    @
  %div.form__textfield
    %input#screen-name{type: 'text', name: 'screen_name', placeholder: 'twitter_account', autocomplete: 'off'}
  %div.form__action
    %input{type: 'submit', value: 'enter'}

%ul.brother
  - @brothers.each do |brother|
    %li.brother__item
      %span.brother__at-mark
        @
      = brother.screen_name
      %span.brother__delete-button.js-delete-brother{'data-brother-id': brother.id}
        x
