%h1
  Yo, #{ENV['RACK_ENV']}
- if flash[:message]
  %p
    = flash[:message]
%p
  - if session[:lighting_status] === nil
    %a{href: '/hikari'}
      ON
    %a{href: '/yami'}
      OFF
  - elsif session[:lighting_status]
    %span
      ON
    %a{href: '/yami'}
      OFF
  - else
    %a{href: '/hikari'}
      ON
    %span
      OFF

%p
  hikari: #{@hikari}
%p
  yami: #{@yami}
