- if flash[:message]
  %p
    = flash[:message]
%p
  - if current_status === 'hikari'
    %a{href: '/yami'}
      OFF
  - else
    %a{href: '/hikari'}
      ON

%ul
  - @activities.each do |activity|
    %li
      %a{href: "https://twitter.com/#{activity.screen_name}", target: '_blank'}<>
        @#{activity.screen_name}
      が鹿の自宅の照明を#{japanese_status(activity.status)}
