%figure
  - if current_status === 'hikari'
    %img{src: '/images/hikari.jpg', srcset: '/images/hikari@2x.jpg', alt: ''}
    %a{href: '/yami'}
  - else
    %img{src: '/images/yami.jpg', srcset: '/images/yami@2x.jpg', alt: ''}
    %a{href: '/hikari'}

%ul
  - @activities.each do |activity|
    %li
      %a{href: "https://twitter.com/#{activity.screen_name}", target: '_blank'}<>
        @#{activity.screen_name}
      が鹿の自宅の照明を#{japanese_status(activity.status)}

- if flash[:message]
  %p
    = flash[:message]
