- if current_status === 'hikari'
  %div.switch.switch--hikari
    %a{href: '/yami'}
- else
  %div.switch.switch--yami
    %a{href: '/hikari'}

%ul
  - @activities.each do |activity|
    %li
      %a{href: "https://twitter.com/#{activity.screen_name}", target: '_blank'}<>
        @#{activity.screen_name}
      が鹿の自宅の照明を#{japanese_status(activity.status)}

- if flash[:message]
  %p
    = flash[:message]
