%div.switch{class: current_status === 'hikari' ? 'switch--hikari' : 'switch--yami'}
  %p.lyric
    インターネット ヤミ市 東京 2016 で
    %a{href: 'https://twitter.com/shikakun', target: '_blank'}
      @shikakun
    に 100 円払うと、鹿の自宅の照明を点けたり消したりできます。
    %a{href: 'http://yami-ichi.biz/tokyo/', target: '_blank'}
      Lern more...
