@import 'vendor/normalize.css/normalize';
@import 'foundation/reset';
@import 'foundation/mixin/media-queries';

:root {
  font-family: -apple-system, Segoe UI, sans-serif;
  font-feature-settings: 'kern' 1, 'lnum' 1, 'pnum' 1;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

.switch {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &#{&}--hikari {
    background-image: url(/images/hikari.jpg);
    @include if-retina {
      background-image: url(/images/hikari@2x.jpg);
    }
    @include if-medium-screen-upper {
      background-image: url(/images/hikari@2x.jpg);
    }
  }

  &#{&}--yami {
    background-image: url(/images/yami.jpg);
    @include if-retina {
      background-image: url(/images/yami@2x.jpg);
    }
    @include if-medium-screen-upper {
      background-image: url(/images/yami@2x.jpg);
    }
  }

  a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 280px;
    height: 280px;
    margin: -140px 0 0 -140px;
    border-radius: 50%;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
    &:hover {
      box-shadow: 0 0 3rem rgba(#eee, 0.66), inset 0 0 3rem rgba(#eee, 0.66);
    }
  }
}
